@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  scroll-behavior: smooth;
}

.main-content h1,h2,h3,h4,h5,h6 {
  font-weight: 600 !important;
}

.main-content h1 {
  font-size: 2rem !important;
}

.main-content h2 {
  font-size: 1.8rem !important;
  margin: 15px 0 !important;
}

.main-content h3 {
  font-size: 1.4rem !important;
  margin: 15px 0 !important;
}

.wp-block-image img {
  margin: 20px auto !important;
}

ol, ul {
  margin-left: 15px !important;
  line-height: 1.84em !important;
}

.main-content ol li {
  list-style: decimal !important;
}

.main-content ul li {
  list-style: disc;
}

.main-content p {
  margin-bottom: 20px;
}